@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Event Scheduler!</h1>
    <p>
        Easily add events and view them in our intuitive calendar. Streamline your planning process and make every event a success with our user-friendly platform.
    </p>
</div>
